bin/
obj/
out/
*.user
*.suo
*.userosscache
*.sln.docstates

.vscode/

.idea/
W
secrets.json
*.db

*.log

.env

*.nupkg
packages/
.nuget/

project.lock.json
project.fragment.lock.json
artifacts/

Thumbs.db
.DS_Store

*.vspscc
*.vssscc
_ReSharper*/

client/.vite*